* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "karla", sans-serif;
  background: rgb(255, 250, 209);
  background: linear-gradient(
    290deg,
    rgba(255, 250, 209, 0.6) 1%,
    rgba(245, 247, 251, 1) 50%,
    rgba(222, 235, 248, 1) 99%
  );
}

main,
.no-quiz {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* NO QUIZ */

.no-quiz {
  margin-top: 10rem;
}

.main-title,
.description {
  color: #293264;
}

.btn {
  padding: 10px 30px;
  background-color: royalblue;
  color: #f5f7fb;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
}

.start-btn:focus {
  outline: none;
}

.start-btn:active {
  box-shadow: inset 5px 5px 10px -4px rgba(0, 0, 0, 0.7);
}

/* QUIZ START */

.start-quiz {
  display: flex;
  flex-direction: column;
}

.quiz-ctn {
  margin-bottom: 2rem;
}

.question {
  font-size: 1rem;
  color: #293264;
  font-weight: bold;
  margin-bottom: 0.7rem;
}

.option {
  display: inline-flex;
  color: #293264;
  padding: 3px 15px;
  border: 1px solid #293264;
  border-radius: 8px;
  margin: 0.5rem;
  font-size: 0.75rem;
  cursor: pointer;
  transition: all 0.3s;
}

.option:hover {
  transform: scale(1.05);
}

.separator {
  margin-top: 0.7rem;
  border-bottom: 1px solid rgba(41, 50, 100, 0.15);
}

/* .check-btn {
  margin: 0 auto;
} */

.selected-ans {
  color: white;
  background-color: lightcoral;
  border: 1px solid lightcoral;
}

.correct-ans {
  color: white;
  background-color: #94d7a2;
  border: 1px solid #94d7a2;
}

.wrong-ans {
  color: #8b8ea5;
  background-color: #f8bcbc;
  border: 1px solid #f8bcbc;
}

.no-click {
  pointer-events: none;
}
